
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root{
    --background-color : #f1f1f1;
    --nav-font-color : #f44336;
    
    --sub-btn-color : #616161;
}


.h1_banner{
    color: #f44336;
    }
h2{
    color: black;
}
h3{
    color: white;
}

.service{
    display: flex; 
    background-color: #f44336; 
    justify-content: center; 
    align-items: center; 
    width: 10rem; 
    height: 4rem;
}

#image_header{
    display: table;
    position: relative;
    max-width: 100vw;
    margin: 1rem auto;
}

#image_header img{
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    object-fit: image_header;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 .4rem;
}
.column {
    flex: 50%;
    padding: 0 .4rem;
}

.column img {
    margin-top: .8rem;
    vertical-align: middle;
}


.icon_head {
    height: 3rem; 
    float:left;
}

.image_header {
    height:fit-content;
    display: flex; 
    justify-content: center; 
    align-items: center;
}


#icon_banner {
    height: 3rem;
    margin: .6rem;
    float: left;
}

.btn-group {
    justify-content: center; 
    align-items: center; 
    width: 10rem; 
    height: 4rem;
}

.btn-active {
    justify-content: center; 
    align-items: center; 
    width: 10rem; 
    height: 4rem;
    display: flex; 
    background-color: #f44336; 
}

.btn-default {
    justify-content: center; 
    align-items: center; 
    width: 10rem; 
    height: 4rem;
    display: flex; 
    background-color: #000000;
}